# local package
-e .

# external requirements
typer
matplotlib
numpy
{% if cookiecutter.dataframe_library|lower == 'pandas' %}
pandas
{% elif cookiecutter.dataframe_library|lower == 'polars' %}
polars
{% elif cookiecutter.dataframe_library|lower == 'dask' %}
dask
{% endif %}
pyarrow
SQLAlchemy

# documentation
Sphinx
